<footer>
  <div class="container footer-container">
    <div class="footer-menu">
      <div class="logo">
        <img src="assets/img/icon/logo.png" alt="logo">
      </div>
      <nav class="menu">
        <ul>
          <li>
            <a href="#">Услуги</a>
          </li>

          <li>
            <a href="#">О нас</a>
          </li>

          <li>
            <a href="#">Статьи</a>
          </li>

          <li>
            <a href="#">Отзывы</a>
          </li>

          <li>
            <a href="#">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="footer-info">
      <div class="footer-info-item">
        <div class="footer-info-title">
          Адрес
        </div>

        <div class="footer-info-desc">
          Пресненская наб., 12, Москва, Россия, 123317.
        </div>
      </div>

      <div class="footer-info-item">
        <div class="footer-info-title">
          Телефон
        </div>

        <div class="footer-info-desc">
          <a href="tel:+74993431334">+7 (499) 343-13-34</a>

        </div>

        <div class="footer-item-action">
          <button type="button"  (click)="openDialog()">Перезвоните мне</button>
        </div>
      </div>

      <div class="footer-info-item">
        <div class="footer-info-title">
          E-mail
        </div>

        <div class="footer-info-desc">
          <a href="mailto:info@itstorm.com">info&#64;itstorm.com</a>
        </div>
      </div>

      <div class="footer-info-item">
        <div class="footer-info-title">
          Мы в социальных сетях:
        </div>

        <div class="footer-info-icon">
          <a href="https://vk.com/"><img src="assets/img/icon/vk-com.png" alt=""></a>
          <a href="http://www.facebook.com/"><img src="assets/img/icon/facebook.png" alt=""></a>
          <a href="http://www.instagram.com/"><img src="assets/img/icon/instagram.png" alt=""></a>
        </div>
      </div>
    </div>

    <div class="footer-rights">
      © 2022. Все права защищены
    </div>
  </div>
</footer>
